body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h2.frontpage {
  color: #fff;
  font-weight: normal;
  letter-spacing: 1px;
}

button {
  min-width: 200px;
  min-height: 48px;
}

iframe {
  width: 400px;
  height: 700px;
  margin-left: calc(50% - (200px));
  margin-bottom: 40px;
}

.centered {
  background-color: #4a4a4a;
  text-align: center;
}

.plain_centered {
  text-align: center;
}

.plain_text {
  margin: auto;
  padding: 20px;
  max-width: 800px;
}

.main_profile{
  background-color: #1199c3;
  width: 50%;
  margin-right: 25%;
  height: 400px;
  text-align: center;
}

.phoenix_main_profile{
  background-color: #1199c3;
  width: 50%;
  min-width: 200px;
  max-width: 800px;
  margin-left: 25%;
  height: calc(200px + 30%);
  text-align: center;
}

figcaption {
  color: #fff;
}

.flex-list {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.thumbnail {
    width:25%;
    padding: 20px;
}

.thumbnail .pic {
    width: 90%;
    min-width: 200px;
    max-width: 310px;
    padding-right: 30px;
    object-fit: cover;
}

.list_desc {
    max-width: 70%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 20px;
}

a.list-link img.pic {
    display: block;
}

.foodpic {
  width: 50%;
  height: 50vh;
  margin-left: 25%;
  object-fit: cover;
}

.artpic_sketch {
  width: 300px;
  height: 530px;
  margin-left: 25%;
  object-fit: cover;
}

.bustpic {
  width: 40%;
  height: 50vh;
  padding: 5%;
  padding-top: 5px;
  object-fit: cover;
}

.DA_prototype {
  width: 40%;
  height: 50vh;
  max-height: 480px;
  max-width: 340px;
  padding: 5%;
  padding-top: 5px;
  object-fit: cover;
  justify-self: center;
}

/*.DA_prototype2 {
  width: 40%;
  height: 50vh;
  max-height: 480px;
  max-width: 340px;
  margin-right: 20%;
  padding: 5%;
  padding-top: 5px;
  object-fit: cover;
}*/

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

h1 {
  font-size: 40px;
  color: #f5a623;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding: 10px 5%;

}

/* p.center-text {
    text-align: left;
} */

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
}

.mainpic {
  width: 60%;
  height: 80%;
  object-fit: cover;
}

.phoenix_mainpic {
  width: 80%;
  height: 80%;
  object-fit: contain;
  padding-top: 20px;
  padding-bottom: 20px;
}

#skills-h3 {
  color: #f5ae23;
  display: none;
}

.orange {
  background-color: #f5ae23;
}

.orange-text {
  color: #f5ae23;
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear: both;
}

.categories { /*can make this more responsive later, to smaller screen sizes*/
  /*margin-bottom: 25vh;*/
  width: 25%;
}

.space-footer {
  margin-bottom: 25vh;
}

.dark-gray {
  background-color: #4a4a4a;
  margin-top: 10%;
}

/* TODO: Replace with image later */
#header {
  background-color: #484848;
}

.flex-box, .flex-box_DA {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.flex-box_DA {
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 10px;
}

.flex-list-foods {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  max-width: 1000px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

img {
  padding: 10px;
}

span {
  padding: 5px;
}

.rangoli {
    margin: auto;
    text-align: center;
}

div.rangoli {
    margin: auto;
    text-align: center;
    display: inline-block;
}

div.rangoli_holder {
    margin:auto;
    text-align: center;
}

#lets-connect {
  text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }

  .flex-list {
      flex-direction: column;
      width: inherit;
  }
  .thumbnail {
      width: inherit;
      margin: auto;
  }
  .thumbnail .pic {
      padding: 0px;
      margin-right: 0px;
      margin: auto;
  }
  .list_desc {
      margin: auto;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 0px;
      padding-bottom: 20px;

  }

  p.center-text {
      text-align: center;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }

@media only screen and (max-width: 800px) {
  .flex-list {
      flex-direction: column;
      width: inherit;
  }
  .thumbnail {
      width: inherit;
      margin: auto;
  }
  .thumbnail .pic {
      padding: 0px;
      margin-right: 0px;
      margin: auto;
  }
  .list_desc {
      margin: auto;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 0px;
      padding-bottom: 20px;
  }

  p.center-text {
      text-align: center;
  }
}
